{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_active/maintenance

    Boost maintenance layout template.

    Context variables required for this template:
    * output - The core renderer for the page

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}"/>
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #page-wrapper {
            position: relative;
        }
        .sea-bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50vh;
            z-index: 0;
        }
        #page {
            position: relative;
            z-index: 1;
        }
    </style>
</head>
<body {{{ output.body_attributes }}}>
{{> core/local/toast/wrapper}}

<div class="h4 p-3">
    {{{ output.page_heading }}}
</div>

<div id="page-wrapper" class="d-flex flex-column min-vh-100">
    {{{ output.standard_top_of_body_html }}}
    <div id="page" class="container my-auto py-4 text-center">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-img">
                            <img src="{{maintenance}}" class="w-50" alt="{{#str}}maintenance_desc, theme_active{{/str}}"/>
                        </div>
                        <hr/>
                        <p class="lead text-muted">
                            {{{ output.main_content }}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sea-bg bg-primary"></div>
    <footer class="mt-auto py-3 text-center">
        {{> theme_boost/footer }}
    </footer>
</div>
</body>
</html>
